.signup-main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.signup-form-main-div{
    width: 350px;
    border: 0.5px solid black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 20px;
   margin-bottom: 25px;
}

.signup-form-header{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.signup-header-span{
    font-size: 18px;
    font-weight:580;
    color: grey;
    margin-top: 10px;
}

.connectWith-fb-span{
    background-color: rgb(81, 151, 249);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 7px 5px 5px;
    font-size: 14px;
    font-weight: 500;
    margin: 15px 15px 3px;
    width: 100%;
    border-radius: 7px;
    height: 25px;
    color: white;
}

.fbSIcon{
    font-size: 20px;
    margin-right: 5px;
}

.signup-sptr-div{
    margin: 10px 0;
}

.signup-from-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signup-form-info-p{
    font-size: 13px;
    color: grey;
    text-align: center;
    width: 80%;
    font-weight: 350;
}

.signup-form-aTag{
    text-decoration: none;
    color: rgb(0, 0, 100);
}

.signup-next-btn{
    width: 80%;
}

.signup-instaImg-container{
    width: 80%;
    margin-left: 15px;
}

.bDate-input-container{
   display: flex;
   justify-content: space-evenly;
}

.day-dropdown{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 25vh;
    position: absolute;
    background-color: white;
    width: 2.8rem;
    border: .5px solid grey;
}

.date-list{
    list-style: none;
    padding: 5px;
    font-size: 11px;
    color: grey;
    display: flex;
    flex-direction: column;
}



.year-dropdown{
    display: flex;
    flex-direction: column;
    height: 25vh;
    overflow-y: auto;
    font-size: 11px;
    color: grey;
    width: 4rem;
    
}

.month-dropdown{
    width: 5.3rem;
}

.bd-head-img{
    background-image: url(../images/quLU_xi5ZD1.png);
    background-position: 0 0;
    width: 140px;
    height: 95px;
    background-size: 553px 528px;
}

.signup-bd-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 57vh;
    border: .5px solid grey;
    padding: 15px 0;
    width: 22%;

}

.add-bd-span{
    font-weight: 500;
    font-size: 14px;
    padding-top: 10px;
}

.bd-info-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px 0 0;
    font-size: 14px;
}

.bd-info-span1{
    width: 100%;
}

.bd-info-span2{
    color: rgb(73, 131, 255);
}

.bd-child-div{
    margin: 10px;
}

.selector-div{
    border: .5px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    height: 30px;
    font-size: small;
    color: grey;
    padding: 0 3px;
}

.bd-month-selector{
    width: 80px;
}

.bd-day-selector{
    width: 40px;
}

.bd-year-selector{
    width: 60px;
}

.bd-form-bottom-span{
    font-size: small;
    color: grey;
    text-align: center;
    width: 85%;
}

.bd-form-btn-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    height: 40%;
}

.return-span{
    color: rgb(73, 131, 255);
    font-weight: 500;
    font-size: 15px;
}

